# example netlify.toml
[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[functions]
  included_files = ["src/data/affiliate-products.json"]

  ## Uncomment to use this redirect for Single Page Applications like create-react-app.
  ## Not needed for static site generators.
  #[[redirects]]
  #  from = "/*"
  #  to = "/index.html"
  #  status = 200

  ## (optional) Settings for Netlify Dev
  ## https://github.com/netlify/cli/blob/main/docs/netlify-dev.md#project-detection
[dev]
  command = "npm run dev" # Command to start your dev server
  port = 4321 # Port that the dev server will be listening on
  targetPort = 4321 # Port that Netlify Dev will proxy to
  publish = "dist" # Folder with the static content for _redirect file
  autoLaunch = false # Don't auto-open browser

  ## more info on configuring this file: https://ntl.fyi/file-based-build-config
